/*tags principais*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, rgba(100, 189, 82, 0.5),rgb(247, 238, 74, 0.5));
    margin: 0 auto;
    min-width: 630px;
}

header {
    background-color: black;
    padding: 0 20% 0 20%;
}

article {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
}
/*barra de navegação*/
nav {
    background-color: black;
    padding: 10px 20% 10px 20%;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    color: rgba(230, 233, 53);
    border-bottom: 2px solid rgba(230, 233, 53);
    background-color: rgb(24, 24, 24);
}
/*fim da barra de navegaçao*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color:white;
    padding: 10px 20% 10px 20%;
}
/*fim das tags principais*/

/*cabeçalho*/
.header{
    display: flex;
    flex-direction: row;
    border-bottom: 1.5px solid rgb(255, 255, 255);
}

.icone {
    padding: 0;
    margin: 10px;  
    width: 15%;
}

#logo {
    width: 100%;
    border-radius: 50%;
}

.tituloPag {
    margin-left: 10px;
    color: white;
    align-self: center;
    font-size: 30pt;
    width: 75%;
}
/*fim do cabeçalho*/

h3 {
    margin: 5px;
}

.contentBox {
    background-color: rgb(241, 241, 241);
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0.5px 5px rgb(80, 80, 80);
}

.territorio img {
    width: 100%;
    border-radius: 2px;
}

.territorio {
    margin: 5px;
}

.conteudoTopicos {
    display: flex;
    flex-direction: row;
}

.imagensPontosTuristicos {
    width: 300px;
    margin: 5px;
    transition: all 0.25s;
}

.imagensPontosTuristicos:hover {
    transform: scale(0.975);
    box-shadow: 0 0 5px black;
}

p {
    text-align: justify;
    margin: 5px;
}

p::selection {
    background-color: rgb(39, 28, 87);
    color: rgb(62, 255, 62);
}

table {
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(207, 207, 207);
    width: 80%;
}

td {
    padding: 10px;
    font-size: 16pt;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.especificacao {
    font-size: 9pt;
}

.referencia {
    margin: 5px;
    font-size: 8pt;
}

.referencia a {
    text-decoration: none;
    color: black;
}

#top-button {
    position: fixed;
    right: 5px;
    bottom: 40px;
}

#top-button img {
    width: 15%;
    opacity: 0.6;
}

#top-button img:hover {
    opacity: 1;
}

#top-button figure {
    padding: 0;
    margin: 0;
    text-align: right;
}

@media screen and (max-width: 820px){

    header {
        padding: 0 0 0 0;
    }

    .tituloPag {
        width: 90%;
        font-size: 25pt;
    }

    .icone {
        padding: 0;
        min-width: 75px;
    }

    nav {
        padding: 10px 0 10px 0;
    }

    nav a {
        padding: 10px;
    }

    article {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 2px;
    }

    table {
        margin: 5px;
        width: 98%;
    }

    .conteudoTopicos {
        flex-direction: column;
    }

    td {
        font-size: 12pt;
    }

    #top-button {
        visibility: hidden;
    }

    footer {
        padding: 10px;
    }
}