/*tags principais*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, rgba(100, 189, 82, 0.5), rgb(247, 238, 74, 0.5));
    margin: 0;
    min-width: 780px;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: rgb(134, 134, 134);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 59);
}

header, footer {
    background-color: black;
    color: white;
    padding: 0 20% 0 20%;
}

article {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20% 10px 20%;
}
/*barra de navegação*/
nav {
    background-color: rgb(43, 43, 43);
    padding: 10px 5% 10px 5%;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1;
}

nav a {
    color: white;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    color: rgba(230, 233, 53);
    border-bottom: 2px solid rgba(230, 233, 53);
    background-color: rgb(24, 24, 24);
}
/*fim da barra de navegaçao*/
a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20% 10px 20%;
}
/*fim das tags principais*/
/*cabeçalho*/
.header {
    display: flex;
    flex-direction: row;
    padding: 0;
}

h1 {
    font-family: cursive;
}

.icone {
    padding: 0;
    margin: 10px;
    width: 90px;
}

#logo {
    width: 100%;
    border-radius: 50%;
}

.tituloPag {
    margin-left: 10px;
    align-self: center;
    font-size: 30pt;
    width: 80%;
}

/*fim do cabeçalho*/
h2, h3 {
    margin-left: 5px;
}

.contentBox {
    background-color: rgb(241, 241, 241);
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0.5px 5px rgb(80, 80, 80);
}

picture {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagensPontosTuristicos {
    transition: all 0.25s;
}

.imagensSemEfeitos, .imagensPontosTuristicos {
    width: 400px;
    margin: 5px;
}

.media{
    display: flex;
    flex-direction: row;
}

.imagensDados {
    width: 95%;
}

.imagensPontosTuristicos:hover {
    transform: scale(0.975);
    box-shadow: 0 0 5px black;
}

p, blockquote {
    text-align: justify;
    margin: 5px;
    line-height: 25px;
}

#hino, ul {
    line-height: 30px;
}

audio {
    border: 2px solid rgb(94, 94, 94);
}

iframe {
    margin: 5px;
}

table {
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(214, 214, 214);
    width: 98%;
}

td {
    padding: 5px;
    font-size: 14pt;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

th {
    font-size: 12pt;
}

.especificacao, .referencia {
    font-size: 8pt;
}

.referencia {
    max-width: 400px;
    margin-left: 5px;
}

.referencia a {
    color: black;
}

#top-button {
    position: fixed;
    right: 5px;
    bottom: 5px;
}

#top-button img {
    width: 20%;
    opacity: 0.5;
}

#top-button img:hover {
    opacity: 1;
}

#top-button figure {
    padding: 0;
    margin: 0;
    text-align: right;
}

@media screen and (max-width: 820px) {

    header {
        padding: 0 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tituloPag {
        width: 90%;
        font-size: 25pt;
    }

    article {
        padding: 2px;
    }

    td {
        font-size: 12pt;
    }

    #top-button {
        visibility: hidden;
    }

    footer {
        padding: 10px;
    }
}